---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "⭐ HOMEPAGE ⭐";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to my Website</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, eos.</p>
</BaseLayout>